@model TravelTripProject.Models.Siniflar.Yorumlar;

@{
	ViewBag.Title = "Yorum Getir";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Yorum Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("YorumGuncelle", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />

    @Html.LabelFor(x => x.KullaniciAdi)
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.KullaniciAdi)
    <br />

    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Mail)
    <br />

    @Html.LabelFor(x => x.Yorum)
    @Html.TextAreaFor(x => x.Yorum, 15, 1, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Yorum)
    <br />

    @Html.LabelFor(x => x.Okundu)
    @Html.DropDownListFor(x => x.Okundu, new List<SelectListItem>
    {
        new SelectListItem { Text = "Okundu", Value = "true" },
        new SelectListItem { Text = "Okunmadı", Value = "false" }
    }, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Yayinlandi)
    @Html.DropDownListFor(x => x.Yayinlandi, new List<SelectListItem>
    {
        new SelectListItem { Text = "Yayınlandı", Value = "true" },
        new SelectListItem { Text = "Yayınlanmadı", Value = "false" }
    }, new { @class = "form-control" })
    <br />

    <button type="submit" class="btn btn-primary">Yorum Güncelle</button>
}